#############################
# TYPO3 CMS Base Distribution
#############################

# files
.DS_Store
.idea
*.xcf
*.log
*.swp
config.rb
composer.phar

# TYPO3 files
*.obsolete.php
ENABLE_INSTALL_TOOL
FIRST_INSTALL
index.php
AdditionalConfiguration.php

# directories
node_modules/
.sass-cache/
_temp_
fileadmin/
nbproject
typo3
typo3_src
web/typo3conf/ext/realurl/
web/typo3conf/ext/vhs/
web/typo3conf/l10n/
typo3temp
web/uploads
vendor
